<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Befit Challenge Videos</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <span class="navbar-brand">Befit Challenge Videos</span>
        <div class="navbar-nav">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/upload">Upload Video</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %}{% endblock %}</main>
  </body>
</html>
